* {
  margin: 0;
}

body {
  background-color: greenyellow;
  z-index: 0;
}

div {
  width: 64px;
  height: 64px;
}

#main {
  background-color: gray;
  position: fixed;
  top: 128px;
  left: 64px;
  z-index: 2;
}

.way {
  background-color: yellow;
  position: fixed;
  top: 128px;
  left: 192px;
  z-index: 1;
}

.tile {
  background-color: burlywood;
  position: fixed;
  top: 64px;
  left: 192px;
  z-index: 1;
}

.card {
  display: none;
  background-color: lightblue;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 40%);
  width: 192px;
  height: 320px;
  border-radius: 16px;
  z-index: 100;
}

div.haveCard {
  position: fixed;
  bottom: 0px;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -8px);
  transition: transform 0.3s ease-in-out;
}

.haveCard:hover {
  transform: translate(-50%, 96px) !important;
}

div.highlightCard {
  border: red solid 2px;
  transform: translate(-50%, 96px) !important;
}

.building {
  background-color: brown;
  position: fixed;
  display: none;
  z-index: 10;
}

#choiceBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 99;
}

.monster {
  background-color: red;
  position: fixed;
  top: 384px;
  left: 768px;
  width: 64px;
  height: 64px;
  z-index: 3;
}